.index-container {
    position: fixed;
    bottom: 3rem;
    width: 40rem;
}

.list-item {
    color: #8d9eba;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.flex-item {
    width: 136px;
    height: 30px;
    display: inline-flex;
    gap: 1rem;
    transition: 0.15s;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 2px;
}

.item-title {
    margin: 0;
    min-width: 84px;
}

.flex-item:hover {
    width: 176px;
    color: #000;
}

.flex-item:hover hr {
    background-color: #000;
}

hr {
    background-color: #8d9eba;
    color: #8d9eba;
    height: 1px;
    border: 0 #8d9eba;
    min-width: 42px;
    max-width: 84px;
    flex-grow: 1;
    transition: 0.25s;
}

a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: #5e6a7d;
}

.social-list-item {
    left: 40rem;
    position: absolute;
}

.social-icons {
    width: 48px;
}

.social-icons:hover {
    cursor: pointer;
    ;
}

@media (max-width: 575px) and (min-width: 350px) {
    .index-container {
        position: relative;
        top: 6rem;
        width: 40rem;
        right: 4rem;
    }

    .social-list-item {
        left: 100vw;
        top: 12rem;
    }

    .social-icons {
        width: 32px;
    }
}