.main__container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;
    color: #d0daed;
    position: relative;
    top: 6rem;
    padding-left: 1rem;
    
}

.main {
    font-size: 4rem;
}

.sub {
    font-size: 2rem;
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    align-self: end;
    text-shadow: 3px 2px 2px black
}