.info-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 175px;
    position: fixed;
    top: 3rem;
    padding-left: 1rem;
    margin-left: 4rem;
}

.title {
    font-size: 3.5rem;
    color: #646e82;
}

.subtitle {
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    align-self: end;
    text-shadow: 3px 3px 2px #7b7b7b;
    color: #333;
}