.info-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 175px;
    color: #d0daed;
    position: relative;
    top: 3rem;
    padding-left: 1rem;
    margin-left: 4rem;
}

.title {
    font-size: 3.5rem;
}

.subtitle {
    font-size: 2rem;
    position: absolute;
    top: 6rem;
    align-self: end;
    text-shadow: 2px 1px 1px black
}